.auth-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f23838;
    background-image: url('https://images.ctfassets.net/txhaodyqr481/1sxY8Z0mxcF0dtfxNiTfrh/52d199aca47096d6d7775b6140f44e05/S_P_retail_store.jpg?fm=jpg&q=85&fl=progressive&w=1200&h=800'); /* Add the background image */
    background-size: cover; 
    background-position: center; 
}

.auth-container input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.auth-container button {
    padding: 10px 20px;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.auth-container .error {
    color: red;
    margin-bottom: 10px;
}
