.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    margin: 10px 0;
    width: 200px;
  }
  
  button {
    background-color: #1779e1;
    color: rgb(211, 15, 15);
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100px;
    border-radius: 5px;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  