/* Global styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #3095ed;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container for both signup and login */
.signup-container, .login-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(79, 189, 24, 0.1);
  max-width: 400px;
  width: 100%;
}

h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  text-align: center;
}

p {
  text-align: center;
}

span {
  color: #007BFF;
  cursor: pointer;
}
